{% extends "layout.njk" %}

{% block head %}
    <a href="/about" id="left_link">Sobre</a>
    <a href="/recipes" class="active_link">Receitas</a>
{% endblock %}    
        
{% block content %}        
    <main>

        <section class="recipe_cards">

           {% for recipe in recipes %}
            <div class="recipe">
                <img class="recipe_image" src="{{recipe.image}}" id="{{loop.index0}}">
                <p class="recipe_name" id="{{recipe.title}}">{{recipe.title}}</p>
                <p class="recipe_author" id="{{recipe.author}}">por {{recipe.author}}</p>
            </div>
            {% endfor %}

            {% for recipe in recipes %}
            <div class="recipe">
                <img class="recipe_image" src="{{recipe.image}}" id="{{loop.index0}}">
                <p class="recipe_name" id="{{recipe.title}}">{{recipe.title}}</p>
                <p class="recipe_author" id="{{recipe.author}}">por {{recipe.author}}</p>
            </div>
            {% endfor %}
            
        </section>
        
    </main>
{% endblock %}